@import "colors.css";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Khula:wght@300;400;600;700;800&display=swap");

.bullet {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.bullet span:not(:first-child) {
  cursor: pointer;
}

.bullet input {
  border-radius: 0.625rem;
  border: 1.5px solid var(--gray);
  background: #fff;
  width: 37rem;
  width: 80%;
  height: 2.5rem;
  flex-shrink: 0;

  color: var(--text-color);
  font-family: ABeeZee;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.empytBulletErrorMessage.show {
  color: var(--hot-pink);
  display: block;
  margin-left: 2.2rem;
  margin-top: -0.5rem;
}

.empytBulletErrorMessage {
  display: none;
}