@import "colors.css";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Khula:wght@300;400;600;700;800&display=swap");

.experienceForm {
  color: var(--text-color);
  font-family: ABeeZee;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 15px;
  border: 2px solid var(--gray);
  /* width: 39%; */
  width: 765px;
}

.symbol {
  color: var(--dark-purple)
}

.roleTitle, .formFields, .bulletsContainer {
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.roleTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roleTitle div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roleTitle h1 {
  font-size: 1.5rem;
}

/* form itself */
.formFields form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* field titles and input */
.formFields label {
  margin-bottom: 1.5rem;
}

/* field titles */
.experienceForm h2 {
  color: var(--text-color);
  font-size: 1.125rem;
}

/* field instructions */
.experienceForm p {
  color: var(--text-color);
  font-size: 0.9rem;
}

.formFields input {
  font-family: ABeeZee;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--text-color);
  border-radius: 10px;
  border: 1.5px solid var(--gray);
  width: 20rem;
  height: 2.8125rem;
  flex-shrink: 0;
}

#locationLabel {
  width: 100%;
}

#locationLabel input {
  width: 97.1%;
}
